/*
* @Author: 尚雪芝
* @Date:   2017-10-18 10:37:05
* @Last Modified by:   尚雪芝
* @Last Modified time: 2017-10-18 10:46:28
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box
}
img{
	width: 100%;
	height: 100%;
	display: block;
}
a{
	text-decoration: none;
}
input,button{
	outline: none;
	-webkit-tap-highlight: rgba(0,0,0,0);
}