/*
* @Author: 尚雪芝
* @Date:   2017-10-18 10:37:05
* @Last Modified by:   尚雪芝
* @Last Modified time: 2017-10-20 09:02:43
*/


.a{
	width: 90px;
	height: 90px;
	background: rgba(0,0,0,.5);
	color: red;
}